services:
  rdf4j:
#    image: eclipse/rdf4j-workbench:latest
    image: ostrzyciel/rdf4j-workbench-tomcat:5.2.2-SNAPSHOT
#   image: nanopub/rdf4j-workbench:5.0.3-SNAPSHOT
    restart: unless-stopped
    environment:
      - JAVA_OPTS=-Xmx16g -Xms1g -Xss100m -Dorg.eclipse.rdf4j.client.http.connectionTimeout=10000 -Dorg.eclipse.rdf4j.client.http.connectionRequestTimeout=10000 -Dorg.eclipse.rdf4j.client.http.socketTimeout=10000
    volumes:
      - ./data/rdf4j/data:/var/rdf4j
      - ./data/rdf4j/logs:/usr/local/tomcat/logs
      - ./data/rdf4j/server:/var/rdf4j/server
    ports:
      - 8080:8080
